/* .admin-layout{display:flex;min-height:calc(100vh - var(--navbar-height));}
.admin-content{flex:1;min-width:0;padding:36px 32px 60px;overflow-x:hidden;} 
@media(max-width:768px){.admin-content{padding:24px 16px;}} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.page-body {
  margin-left: 265px;
  padding: 100px 12px 60px 12px;
  transition: all 0.3s ease;
}

.page-wrapper.collapsed .sidebar-wrapper {
  width: 80px;
}


.page-wrapper.collapsed .page-header {
  margin-left: 80px;
}

/* PAGE BODY */
/* .page-body {
  margin-left: 265px;
  transition: margin-left 0.3s ease;
} */

.page-wrapper.collapsed .page-body {
  margin-left: 80px;
}
